@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i|EB+Garamond:400,400i,500,500i,600,600i,700,700i|Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body {
    background-color: rgb(230, 227, 227);
}
.adjst {
    margin: 0.7em 1em;
}
.more {
    margin: 0.7em 1em;
}

ul, ol {
    list-style: none;
}
.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: logo menu account;
    padding: 0em;
    margin: 0;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: "logo menu account";
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.logo {
    max-width: 3.5em;
    margin: 0;
    padding: 0.2em 0 0 0;
    grid-area: menu;
    justify-self: center;
}
.btn {
    grid-area: logo;
    justify-self: start;
    margin: 0em 0.5em;
    padding: 1em;
    border: none;
    background-color: transparent;
    color: rgb(36, 35, 35);
    border: none;
}
.navmenu > li {
    display: none;
    margin: 2em 0 0 0;
}
.navmenu li a {
    margin: 2em 0 0 0.5em;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: rgb(110, 108, 108);
    padding-right: -10em;
    grid-area: menu;
}
.account {
    grid-area: account;
    justify-self: right;
    background-color: rgb(221, 215, 215);
    border-radius: 0 0 0 1.2em;
    padding: 0.3em 0.5em 0.3em 1.2em;
    margin: 0em 0em 1em 1em;
}   
.account li {
    display: inline-block;
    list-style: none;
    font-size: 0.9em;
    padding-right: 0.3em;
    color: gray;
}
.mainmenu {
    display: block;
    background-color: rgb(247, 240, 240);
    max-width: 200px;
    text-align: left;
    list-style: none;
    margin: 3em 0 0.5em 0.7em;
}
.mainmenu a {
    margin: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 2em;
    text-decoration: none;
    color: rgb(34, 33, 33);
}
.search {
    background-color: rgb(194, 187, 187);
    max-width: 30rem;
    padding: 0.3em;
    margin: 0 0 0.5em 0.5em;
    border: none;
    border-radius: 1em;
    color: var(--light);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.5em -0.6em;
    background-size: 1em;
    padding-left: 2.3em;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}
.header {
    display: grid;
}
.left {
    display: none;
}
.center {
    width: 100%;
    height: auto;
    background-image: url("/img/crossroads-signs.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.undecided {
    margin: 2em 0em;
    font-family:'EB Garamond', serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: white;
}
.destinations {
    display: grid;
    width: auto;
    text-align: center;
}
.destinations-text {
    display: block;
    max-width: 100%;
    margin: 0 0 1em 0;
    padding: 0.7em 0;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    background-color: darkolivegreen;
    padding: 0.2em 0,3em;
    color: white;
    overflow: hidden;
 }
.subtittle {
    display: inline-block;
    font-family:'EB Garamond', serif;
    font-size: 1em;
    background-color: whitesmoke;
    padding: 0.4em 0.8em;
    margin: 0.7em 0 0 0;
    justify-self: right;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 0.2em 0.5em 0.1em rgb(78, 48, 3);
}
.right {
    display: none;
    background-image: url("/img/chris-galbraith-7XAM0J3dNQM-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.right p {
    margin: 20em 0 1.125em 1em;
    color: white;
}
.trip h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.3em;
    text-align: left;
    margin: 0.6em 1em ;
}
.trip p {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 0.5em 1em 0.8em 1em;
}
.trip {
    background-color: white;
    display: grid;
    overflow: hidden;
    max-width: 30em;
    margin: 1em 0;
    text-align: center;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, .5);
    border-radius: 0.5em;
    font-family: 'Questrial', sans-serif;
  }
  .place-picture {
    text-align: center;
    overflow: hidden;
  }
  .place-img {
    max-width: 100%;
  }
  .button {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none; 
    text-align: right;
    color: #353333;
    margin: 0 1em;
    padding: 0.3em 0em;
  }
  .america a {
      background-color: lightsalmon;
  }
  .day-subtittle {
      width: 100%;
      background-color: rgb(51, 146, 4);
      color: white;
      padding: 1em 0em;
      font-family: 'Questrial', sans-serif;
      font-size: 1.5em;
      font-weight: 500;
      text-align: center;
  }
  .week-subtittle {
    width: 100%;
    background-color: rgb(22, 92, 167);
    color: white;
    padding: 1em 0em;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

  .deals {
    display: grid;
    overflow: hidden;
    margin: 1em 0;
    text-align: center;
    box-shadow: 5px 5px 1em rgba(0, 0, 0, .5);
  }
  .deals h1  {
    font-family: 'EB Garamond', serif;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    padding: 0.5em 0.7em;
    color: rgb(93, 97, 94);
}
.deals h2 {
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    color: rgb(65, 63, 63);
    margin: 0.5em 0;;
}
.deals p {
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0.5em 1em 1em 1.2em;
}
.deals a {
    font-size: 1em;
}
.cozumel {
background-color: floralwhite;
}
.cozumel h1 {
    background-color: rgb(110, 197, 193) ;
}
.disney {
background-color: lightblue;
}
.disney h1 {
    background-color: yellow;
}
.thailand {
    background-color: rgb(138, 202, 181);
}
.thailand h1 {
background-color: rgb(176, 198, 236);
}
.valpo {
    background-color: rgb(161, 238, 146);
}
.valpo h1 {
    background-color: yellowgreen;
}    
.join {
    display: inline-block;
    margin: 1em 0 0 1em;
}
.joinicon {
    background-color: mediumblue;
    float: left;
    font-size: 2em;
    padding: 0.5em;
    color: white;
    border-radius: 2.5rem 0 0 2.5rem;
}
.subscribe {
    float: left;
    font-size: 0.7em;
    background-color: white;
    padding: 2.1em;
    border-radius: 0rem 2.5 2.5rem;
    border: solid mediumblue;
}


  
  
  

/* MEDIA QUERIES*/

@media screen and (min-width: 500px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: left center;
    }
    .left {
        display: grid;
        width: auto;
        background-image: url("/img/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .left p {
        color: white;
        align-self: flex-end;
        margin: 0 0 0.5em 1em;
    } 
    .mainmenu {
        grid-area: left;
    }

}
@media screen and (min-width: 760px) {
    .logo {
        max-width: 5em;
        grid-area: logo;
        justify-self: start;
        margin: 0 1em 0 0.6em;
    }
    .btn {
        display: none;
    }
    .navbar {
        grid-template-columns: auto auto auto;
    }
    .navmenu > li {
        display: inline-block;
    }
    .mainmenu {
        display: none;
    }
    .account {
        margin: 0em 0em 1.8em 1em;
        width: auto;
    }
    .account li {
        padding-right: 1.2em;
    }
    .undecided {
        margin: 6em;
    }
    .destinations-text {
        padding: 0.5em 0;
        font-size: 1.5em;
    }
    .destinations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .more {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .featured {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}
@media screen and (min-width: 930px) {
    .navbar {
        grid-template-columns: auto auto auto;
    }
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "left center right";
    }
    .account li {
        width: auto;
        padding-right: 0.9em;
        font-family: 'Lato', sans-serif;
        font-size: 0.7em;
    }
    .undecided {
        margin: 7em 0 7em 0;
    }

    .language a ::after{
        content: " Language";
    }
    .myaccount a ::after{
        content: " My Account";
    }
    .signup a ::after {
        content: " Sign up";
    }
    .help a ::after{
        content: " Help";
    }
    .right {
        display: grid;
        width: auto;
        height: auto;
        background-image: url("/img/Cancun.jpg");;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .right p {
        color: black;
        align-self: flex-end;
        margin: 0 0 0.5em 1em;
    }
    .destinations {
        grid-template-columns: 2fr 2fr;
        grid-column-gap: 1em;
        grid-template-areas: "one two"
                            "four five"
                            "seven eight"
                            "ten eleven"
                            "thirteen fourteen";
        grid-gap: 1em;
        max-width: 70%;
    }
    .day {
        grid-area: three;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 0.85em;
    }
    .day h1 {
        padding: 0.5em;
    }
    .week {
        grid-area: six;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 0.85em;
    }
    .subtittle {
        font-size: 1.5em;
        background-color: whitesmoke;
        padding: 0.4em 0.8em;
        margin: 0.7em 0 0 0;
        justify-self: right;
        border-radius: 0 1em 1em 0;
        box-shadow: 0 0.2em 0.5em 0.1em rgb(78, 48, 3);
    }  
}

