*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i&display=swap');
.body {
    background-color: rgb(167, 164, 164);
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: logo menu account;
    padding: 0em;
    margin: 0;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo menu account";
    overflow: hidden;
}
.logo {
    max-width: 3.5em;
    margin: 0;
    padding: 0.2em 0 0 0;
    grid-area: menu;
    justify-self: center;
}
.btn {
    grid-area: logo;
    justify-self: start;
    margin: 0em 0.5em;
    padding: 1em;
    border: none;
    background-color: transparent;
    color: rgb(36, 35, 35);
    border: none;
}
.account {
    grid-area: account;
    justify-self: right;
    background-color: rgb(221, 215, 215);
    border-radius: 0 0 0 1.2em;
    padding: 0.3em 0.5em 0.3em 1.2em;
    margin: 0em 0em 1em 1em;
}   
.account li {
    display: inline-block;
    list-style: none;
    font-size: 0.5em;
    padding-right: 0.4em;
    color: gray;
}
.mainmenu {
    grid-area: left;
    background-color: rgb(247, 240, 240);
    max-width: 100px;
    text-align: left;
    list-style: none;
    margin: 0.2em 0 0.5em 0.7em;
}
.mainmenu a {
    margin: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
    font-weight: 300;
    line-height: 2em;
    text-decoration: none;
    color: rgb(34, 33, 33);
}
.search {
    background-color: rgb(194, 187, 187);
    max-width: 90px;
    padding: 0.3em;
    margin: 0 0 0.5em 0.5em;
    border: none;
    border-radius: 1em;
    color: var(--light);
    background-image: url('/img/search.svg');
    background-repeat: no-repeat;
    background-position: 0.5em -0.6em;
    background-size: 1em;
    padding-left: 2.3em;
    font-family: 'Lato', sans-serif;
    font-size: 0.45em;
    font-weight: 300;
}
.header {
    display: grid;
}
.left {
    display: none;
    width: auto;
    background-image: url("/img/anthony-delanoix-Q0-fOL2nqZc-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.left p {
    margin: 20em 0 1.125em 1em;
    color: white;
}
.center {
    width: 100%;
    background-image: url("/img/crossroads-signs.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.undecided {
    margin: 2.5em;
    font-family:'EB Garamond', serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: white;
}
.center-text {
    display: inline-block;
    width: auto;
    margin: 10em 0 0 0em;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    background-color: darkolivegreen;
    padding: 0.6em;
    color: white;
 }
.right {
    display: none;
    background-image: url("/img/chris-galbraith-7XAM0J3dNQM-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.right p {
    margin: 20em 0 1.125em 1em;
    color: white;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 500px) {
    .logo {
        max-width: 5em;
        grid-area: logo;
        justify-self: start;
        margin: 0 1em 0 0.6em;
    }
    .btn {
        display: none;
    }
    .navbar {
        grid-template-columns: 1fr 2fr 2fr;
    }
    .mainmenu ul{
        display: block;
    }
}